
.border {
	text-align: center;
	border-bottom: 1px #e5e5e5 solid;
	width: 230px;
	box-shadow: 0px 0px 0px black;
}

.bg-color {
	background-color: #FFFFFF;
}

/*Content of the body page**/
div.content {
  margin-top: 35px; 
  margin-left: 225px;
  margin-bottom: 35px;
  padding: 1px 16px;
}

/*Color navbar**/
nav.navbar {
    background-color: #0B2C55; 
    box-shadow: 0px 0px 15px black;
}

/*Color of the menu button in navbar**/
.icon-bar {
   background-color:#FFFFFF !important;
}

/*Transition for the sidebar**/
nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/*Hide button exit from sidebar**/
@media screen and (min-width: 701px) {
  li.hide-button-side {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }  
}

@media screen and (max-width: 750px) {
  /*Hide button out**/
  ul.hide-button {
    display:none;
  }
  div.content {margin-left: 0;}
  .sidebar a {float: left;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*Size of the sidebar**/
#sidebar-wrapper {	
  top: 51px;
  left: -230px;
  width: 230px;
  background-color: #0B2C55; 
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
  overflow: auto;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 230px;
  list-style: none;
}

.sidebar-nav li {
  line-height: 45px;
}
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}

@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
  div.logo-ucr {
    position: fixed;
    align: center;
    margin-left: 45px;
    bottom:250px;

  }
}

/*footer**/
.main-footer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 0px;
}

@media (max-width: 767px) {
  .main-footer {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
  }
}

.main-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  padding: 4px;
  background-color: #DEDEE3;
  border-top: 1px solid #d2d6de;
}

.margin-logo {
  margin-left: 20px;
}
 
.lead {
  font-size: 5vh
    font-size: 5vw;
}

@media screen and (max-height:550px) {
  div.logo-ucr {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  div.tittle {
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
    margin-left: 100px;
  }

}
@media screen and (max-width: 700px) {
  div.tittle {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  div.tittle {
    font-size: 20px;
    text-align: center;
  }
}

.right-aling-glyphicon{
  margin-left:120px;
}

.right-aling-glyphicon-c{
  margin-left:64px;
}

.right-aling-glyphicon-p{
  margin-left:95px;
}

.right-aling-glyphicon-m{
  margin-left:103px;
}

.logo-ucr {
    position: fixed;
    align: center;
    margin-left: 45px;
    bottom:100px;
}
.serif {
    font-family: "Times New Roman", Times, serif;
}









