.border {
  font-size:15px;
	text-align: center;
	border-bottom: 1px #e5e5e5 solid;
	width: 230px;
	box-shadow: 0px 0px 0px black;
}

/*Content of the body page**/
div.content {
  margin-top: 35px; 
  margin-left: 225px;
  margin-bottom: 35px;
  padding: 1px 1px;
}

div.content-b {
  margin-top: 25px; 
  margin-bottom: 5px;
  padding: 1px 1px;
}

div.content-recintos {
  margin-top: 1px; 
  margin-bottom: 5px;
  padding: 1px 1px;
}

div.content-c {
  margin-top: 5px; 
  margin-bottom: 15px;
  padding: 1px 1px;
}

/*Color navbar**/
nav.navbar {
    background-color: #276091; 
    box-shadow: 0px 0px 15px black;
}

/*Color of the menu button in navbar**/
.icon-bar {
   background-color:#FFFFFF !important;
}

/*Transition for the sidebar**/
nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/*Hide button exit from sidebar**/
@media screen and (min-width: 770px) {
  li.hide-button-side {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }  
}

@media screen and (max-width: 750px) {
  /*Hide button out**/
  ul.hide-button {
    display:none;
  }
  div.content {margin-left: 0;}
  .sidebar a {float: left;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*Size of the sidebar**/
#sidebar-wrapper {	
  top: 51px;
  left: -230px;
  width: 230px;
  background-color: #276091; 
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
  overflow: auto;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 230px;
  list-style: none;
}

.sidebar-nav li {
  line-height: 45px;
}
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}

@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
  div.logo-ucr {
    position: fixed;
    align: center;
    margin-left: 45px;
    bottom:250px;

  }
}

div.logo-ucr2 {
  position: fixed;
  margin-left: 45px;
  bottom:150px;

}

@media screen and (max-height:585px) {
  div.logo-ucr2 {
    display: none;
  }
}



/*footer**/
.main-footer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 0px;
}

@media (max-width: 767px) {
  .main-footer {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
  }
}



.main-footer {
  width: 100%;
  position: fixed;
  bottom: 0 !important;

  background-color: #DEDEE3;
  border-top: 1px solid #d2d6de;
}

.margin-logo {
  margin-left: 20px;
}
 
.lead {
  font-size: 5vh;
    font-size: 5vw;
}

@media screen and (max-height:550px) {
  div.logo-ucr {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  div.tittle {
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
    margin-left: 100px;
  }

}
@media screen and (max-width: 700px) {
  div.tittle {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  div.tittle {
    font-size: 20px;
    text-align: center;
  }
}


.right-aling-glyphicon-i {
  margin-left:64px;
}

.right-inicio {
  margin-left:68px;
}

.right-citas {
  margin-left:70px;
}

.right-perfil {
  margin-left:70px;
}

.right-info {
  margin-left:28px;
}

.right-salir {
  margin-left: 78px;
}

.right-hora {
  margin-left:42px;
}
.right-aling-glyphicon-se {
  margin-left:43px;
}

.right-aling-glyphicon-s {
  margin-left:72px;
}
.right-aling-glyphicon{
  margin-left:45px;
}

.right-aling-glyphicon-e{
  margin-left:15px;
}

.right-pacientes {
  margin-left:25px;
}

.right-aling-glyphicon-c{
  margin-left:74px;
}

.right-aling-glyphicon-p{
  margin-left:95px;
}

.right-aling-glyphicon-m{
  margin-left:103px;
}

.logo-ucr {
    position: fixed;
    align: center;
    margin-left: 45px;
    bottom:100px;
}
.serif {
    font-family: "Times New Roman", Times, serif;
}


/*Sidebar for mobile device**/
.sidebar-mobile {
  top:51px;
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #1D73BC;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: #FFFFFF;
   box-shadow: 0px 0px 15px black;
}

.sidebar-mobile a {
  display: block;
  color: #FFFFFF;
  padding: 14px;
  text-decoration: none;
}
 
.sidebar-mobile a.active {
  background-color: #276091;
  color: white;
}

.sidebar-mobile a:hover:not(.active) {
  background-color: #099DBE;
  color: white;
}

.sidebar-nav a:hover:not(.active) {
  background-color: #099DBE;
  color: white;
}


@media screen and (max-width: 500px) {
  nav.navbar {
    display:none;
  }
  .sidebar-mobile {
    width: 100%;
    height: auto;
    position: relative;
    top:0px;
  }
  .sidebar-mobile a {float: left;}
  
  div.content {
    margin-top:0px;
  }
  div.content {margin-left: 0;}
  
  .sidebar-mobile a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  }

}

@media screen and (min-width: 50px) {
  .sidebar-mobile a {
    text-align: center;
    float: none;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 500px) {
  a.hide-title {
    display: none;
  }
  
  div.content {
    margin-top:51px;
  }

  button.navbar-toggle {
    display: none;
  }

  .sidebar-mobile {
    display:none;
  }

}

@media screen and (min-width: 770px) {
      a.hide-button-exit {
    display: none;
  }
}

@media screen and (max-width: 770px) {
    ul.hide-button {
    display:none;
  }
}

@media screen and (min-width: 700px) {
  div.tittle {
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
    margin-left: 100px;
  }
}
@media screen and (max-width: 700px) {
  div.tittle {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  div.tittle {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 220px) {
  a.tittle {
    font-size: 16px;
    text-align: center;
  }
}

.tittle-mobile {
  font-size:22px; height: 50px
}

.border-a {
  font-size:15px;
  text-align: center;
  border-bottom: 1px #e5e5e5 solid;
  box-shadow: 0px 0px 0px black;
}

.border-toggle {
 border-color: #ddd;
}










